body {
    background: pink;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    background: burlywood;
    border-left: 7px solid black;
    padding-left: 4px;
    margin-left: -10px
}

.img {
    border: 2px solid;
    border-color: black
}

span {
    background-color: antiquewhite;
    border-color: black;
    border: 1px solid;
}

.content {

    border-left: 10px solid burlywood;
    margin: -10px
}

a.button {
    background: white;
    color:black;
    text-decoration: none;
    padding: 3px 6px;
    border: 1px outset;
    border-radius: 6px;
    cursor: pointer;
}

.button:hover {
    background: rgb(202, 202, 202);
}